.button {
    display: block;
    height: fit-content;
    padding: 0.3rem 0.5rem;

    font: inherit;
    color: #62487A;
    cursor: pointer;

    background-color: #EDDFFA;
    border: 1px solid #62487A;
    border-radius: 10px;

    &:hover {
        background-color: #C994FB;
    }

    &:active {
        opacity: 0.5;
    }

    &--left {
        margin: 20px 0 0 auto;

    }

    &--right {
        margin: 20px auto 0 0;

    }
}