.addContact__btns {
    display: flex;
    align-items: center;
    width: fit-content;
    flex-wrap: wrap;
    width: 100%;
    
    margin: 30px auto 0;

    @media (min-width: 1200px) {
        margin-top: 50px;
        flex-wrap: nowrap;
    }

    & input[type=submit] {
        margin: 0;
        margin-right: 50px;
        margin-top: 20px;
    }

    & button {
        margin-top: 20px;
    }

   
}