.page {
  max-width: 920px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;

  color: #62487A;

  @media (min-width:1200px) {
    padding: 40px;
  }

  @media (min-width:1800px) {
    padding: 0;
  }
}

.section {
  margin-top: 50px;
  @media (min-width:1200px) {
    margin-top: 100px;
  }
}

.title {
  text-align: center;
  font-size: 1.5rem;

  @media (min-width:1200px) {
    font-size: 2rem;
  }
}

.img {
  display: block;
	width: 100%;
	height:100%;
	object-fit: cover;
}

.list_list_style_type_none {
	margin: 0;
	list-style-type: none;
	padding: 0;
}

label {
  display: block;
  margin-top: 1rem;

  & p {
    margin-bottom: 10px;
  }
}

.scroll {
  overflow-y: scroll;
  scroll-behavior: smooth;

  scrollbar-color: #62487A #c2a9da;     /* «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width: auto;  /* толщина */

    &::-webkit-scrollbar {
        width: 10px;
        background-color: #c2a9da;
        top: 130px;
    }

    &::-webkit-scrollbar-thumb {
        width: 3px;
        background-color: #62487A;
        border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #62487A;
        width: 3px;
    }

    &--margin_top {
      &::-webkit-scrollbar {
        margin-top: 130px;
      }
    }
}

.link {
  font: inherit;
  color: inherit;
  text-decoration: none;

  &:hover {
    color: #c2a9da;
  }

  &:active {
    opacity: 0.5;
  }
}

.hide {
  display: none !important;
}


